apiVersion: apps/v1
kind: Deployment
metadata:
  name: cloudnative-pg-operator
  namespace: cnpg-system
  labels:
    app: cloudnative-pg-operator
    app.kubernetes.io/name: cloudnative-pg
    app.kubernetes.io/component: operator
    component: operator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cloudnative-pg-operator
      component: operator
  template:
    metadata:
      labels:
        app: cloudnative-pg-operator
        app.kubernetes.io/name: cloudnative-pg
        app.kubernetes.io/component: operator
        component: operator
    spec:
      serviceAccountName: cloudnative-pg-operator
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        fsGroup: 10001
      containers:
      - name: manager
        image: cleanstart/cloudnative-pg:latest-dev
        command:
          - /usr/bin/manager
          - controller
          - --leader-elect
          - --log-level=info
        ports:
        - containerPort: 8081
          name: metrics
          protocol: TCP
        - containerPort: 9443
          name: webhook
          protocol: TCP
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: OPERATOR_NAMESPACE
          value: cnpg-system
        resources:
          limits:
            cpu: 500m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 128Mi
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
          timeoutSeconds: 1
          failureThreshold: 3
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
          timeoutSeconds: 1
          failureThreshold: 3
        securityContext:
          allowPrivilegeEscalation: false
          runAsNonRoot: true
          runAsUser: 10001
          capabilities:
            drop:
            - ALL
        volumeMounts:
        - name: scratch
          mountPath: /run/secrets/cnpg.io
        - name: tmp
          mountPath: /tmp
      volumes:
      - name: scratch
        emptyDir: {}
      - name: tmp
        emptyDir: {}